<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @control.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @control.description %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @control.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @control.lng %>
</p>

<p>
  <strong>H:</strong>
  <%= @control.h %>
</p>

<p>
  <strong>Track:</strong>
  <%= @control.track_id %>
</p>

<%= link_to 'Edit', edit_control_path(@control) %> |
<%= link_to 'Back', controls_path %>
