<%= form_for(@track, :html => {:multipart => true}) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :track_type %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.text_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>


  <%= f.fields_for :controls do |builder| %>
        <%= builder.label :name, "Name" %>
        <%= builder.text_field :name %>   <br/>
        Delete: <%= builder.check_box :_destroy %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
